{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h5 mb-0">Create Exam</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/editor/all" class="btn btn-sm btn-outline-primary">Back</a>
            </div>
        </div>
    </div>
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#" class="d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><title>Edit</title><path fill="currentColor" d="M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z" /></svg>
                    <span>Details</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content p-3">
        <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/editor/create" method="POST" class="form-default">
            <input type="hidden" name="acsrf" value="{{acsrf}}">
            <div class="form-group">
                <label for="title">Title</label>
                <input v-model="title" name="title" type="text" class="form-control" id="title" required>
            </div>
            <div class="text-center">
                <button class="btn btn-primary d-inline-flex">
                    <svg style="width:22px;height:22px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Create</title><path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" /></svg>
                    <span>Create</span>    
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        data: {
            title: '',
        },
        mounted: function(){
            const me = this;
            me.title = `HTML 1`
//             me.date = moment().format('YYYY-MM-DD')
//             me.time = `09:00`
//             me.venue = `DEBC`
//             me.examinees = `Angeles, Charmel Jay E.
// Cagayan, Justin G.
// Chavez, Charles Ivans Hughes C.
// Chavez, Keisha Camille D.
// Denuyo, John Jeffrey G.
// Dimo-os, Mary Jane C.
// Dogomeo, Anna Lee Dizon
// Dumam-ag, Marjorie P.
// Galvez, Justine S.
// Gania, Aleja G.
// Gasangan, Daniel C.
// Jumilla, Eric John G.
// Lastimoso, Gretchen V.
// Librezana, Joshua E.
// Luyao, Geraldine B.
// Nanagad, Paolo M.
// Revicencio, Niña Marie A.
// Tanaleon, Kaela Chelsea T.
// Trance, Angel G.`
        },
        methods: {
            onSubmit: function(){
                const me = this;
                me.$nextTick(function() {
                    me.$refs.form.submit()
                });
            }
        }
    });
</script>
{% endblock %}