{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h5">Delete Exam</h1>
        </div>
        {% include 'editor/button-group-top.html' %}
    </div>
    {% include 'editor/tabs.html' %}
    <div class="tab-content p-3">
        <form ref="form2" action="/editor/{{exam.id}}/delete" method="POST" class="form-default">
            <input type="hidden" value="{{acsrf}}" name="acsrf">
            <p>Delete "{{exam.title}}"?</p>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <a href="/editor/{{exam.id}}/update" class="btn btn-sm btn-outline-primary">Cancel</a>
                    <button class="btn btn-sm btn-danger d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" class="mr-1"><title>Delete</title><path fill="currentColor" d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z" /></svg>
                        <span>Delete</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}