<div id="sidebar" class="sidebar">
    <div class="d-flex p-3 align-items-center brand">
        <div class="mr-2">
            <a href="/">
                <img height="28" width="28" src="/images/logo-sm.png" alt="logo">
            </a>
        </div>
        <h1>Exam Viewer</h1>
        <div class="text-right col pr-0">
            {% include 'parts/btn-toggle.html' %}
        </div>
    </div>
    
    <ul class="nav flex-column mb-2">
        <li class="nav-item {{urlPath|active_class([r/^\/editor\/(.)+/], 'expanded')}}" id="nav-item-employees">
            <a class="nav-link {{urlPath|active_class([r/^\/editor\/(.)+/])}}" href="/editor/all">
                <svg class="mr-2" style="width:19px;height:19px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Exam</title><path fill="currentColor" d="M7,5H21V7H7V5M7,13V11H21V13H7M4,4.5A1.5,1.5 0 0,1 5.5,6A1.5,1.5 0 0,1 4,7.5A1.5,1.5 0 0,1 2.5,6A1.5,1.5 0 0,1 4,4.5M4,10.5A1.5,1.5 0 0,1 5.5,12A1.5,1.5 0 0,1 4,13.5A1.5,1.5 0 0,1 2.5,12A1.5,1.5 0 0,1 4,10.5M7,19V17H21V19H7M4,16.5A1.5,1.5 0 0,1 5.5,18A1.5,1.5 0 0,1 4,19.5A1.5,1.5 0 0,1 2.5,18A1.5,1.5 0 0,1 4,16.5Z" /></svg>
                <span>Exams</span>
                <button class="nav-expander" type="button">
                    {% include 'parts/svg-chevron-down.html' %}
                    {% include 'parts/svg-chevron-up.html' %}
                </button>
            </a>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {{urlPath|active_class([r/^\/editor\/all/])}}" href="/editor/all">
                        View All 
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{urlPath|active_class([r/^\/editor\/create/])}}" href="/editor/create">
                        Create New
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav flex-column mb-2">
    {% for item in exam.items %}
        <li class="nav-item expanded" id="nav-item-employees">
            <a class="nav-link " href="/editor/all">
                <span>{{item.letter}}. {{item.linkText}}</span>
            </a>
        </li>
    {% endfor %}
    </ul>

    
    <!-- 
    <hr>
        
    <ul class="nav flex-column mb-2">
        <li class="nav-item {{urlPath|active_class([r/^\/registration\/(.)+/, r/^\/user\/(.)+/, r/^\/role\/(.)+/, r/^\/permission\/(.)+/], 'expanded')}}" id="nav-item-users">
            <a class="nav-link {{urlPath|active_class([r/^\/registration\/(.)+/, r/^\/user\/(.)+/])}}" href="/user/all">
                <svg style="width:16px;height:16px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M22 17V16.5C22 15.12 20.88 14 19.5 14S17 15.12 17 16.5V17C16.45 17 16 17.45 16 18V22C16 22.55 16.45 23 17 23H22C22.55 23 23 22.55 23 22V18C23 17.45 22.55 17 22 17M21 17H18V16.5C18 15.67 18.67 15 19.5 15S21 15.67 21 16.5V17M8 8C8 5.79 9.79 4 12 4S16 5.79 16 8 14.21 12 12 12 8 10.21 8 8M14 20H4V18C4 15.79 7.58 14 12 14C13.27 14 14.46 14.15 15.53 14.41C15.32 14.82 15.15 15.25 15.07 15.71C14.42 16.26 14 17.08 14 18V20Z" />
                </svg>
                <span>Access</span>
                <button class="nav-expander" type="button">
                    {% include 'parts/svg-chevron-down.html' %}
                    {% include 'parts/svg-chevron-up.html' %}
                </button>
            </a>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {{urlPath|active_class([r/^\/user\/(.)+/])}}" href="/user/all">
                        Users
                    </a>
                </li>
            </ul>
        </li>
    </ul> -->
</div>
